capabilities {
    invertCameraRotate=true
#    crosshairCamera=mouseleft
#    useTool=mouseleft
#    panCamera="ctrl+mouseright"
#    rotateCamera=mouseright
#    arcballCamera="ctrl+mouseleft"
    flightMomentum=1
}
